.header{
    background-color: black;
    color: white;
}
.header:hover{
    background-color: teal;
    color: white;
}
#one{
    color: violet;
}
#two{
    color: yellow;
}
#three{
    color: teal;
}
#four,#five,#six{
    color: green;
}
*{
    color: aqua;
}
.Link{
    text-decoration: none;
    color: brown;
    background-color: chocolate;
    padding: 10px;
    border-radius: 10px;
}
.Link:hover{
    color: rgb(244, 238, 238);
    background-color: rgb(30, 57, 210);
}